.state {
    height: 4em;
    width: 9em;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 5px;
    margin-top: 1em;
    cursor: pointer;
    text-align: center;
    line-height: 4em;
}

.seen {
    background-color: lightgreen;
    color: black;
}
